:root {
  --main-blue: #19293c;
  --main-orange: #fd7c34;
  --prevision-tertiary: #4ba5d8;

  --lighter-grey: #f7f7f9;
  --base-grey: #e5e5e5;
  --darkest-grey: #4c4c4c;
  
  --base-title-size: 14px;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: var(--main-blue);
}


h1 {
  font-size: calc(var(--base-title-size) * 1.8);
  font-weight: bolder;
}
h2 {
  font-size: calc(var(--base-title-size) * 1.4);
  font-weight: bolder;
}

h3 {
  font-size: calc(var(--base-title-size) * 1.2);
  font-weight: bold;
}

h4 {
  font-size: calc(var(--base-title-size) * 1);
  font-weight: light;
  color: var(--prevision-tertiary);
}


body {
  color: var(--main-blue);
  background: white;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  color: var(--main-orange);
  text-decoration: none;
}

a:visited {
  color: var(--main-orange);
}

a:hover {
  color: #fd610d;
}

a:active {
  background-color: black;
}

/* Bread Crumbs */

.wy-breadcrumbs {
  color: var(--prevision-tertiary);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.fa-home:before,
.icon-home:before {
  content: "Docs";
  color: var(--prevision-tertiary);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wy-breadcrumbs a {
    color:var(--prevision-tertiary);
}
.wy-breadcrumbs a:visited {
    color:var(--prevision-tertiary);
}
.wy-breadcrumbs a:hover {
    color:var(--darkest-grey);
}


/* Sidebar */
.wy-nav-side {
  background-color: var(--main-blue);
}

.wy-breadcrumbs-aside {
  display: none !important;
}
.wy-nav-side a {
  color: var(--lighter-grey);
  text-decoration: none;
}

.wy-nav-side a:visited {
  color: var(--lighter-grey);
}

.wy-nav-side a:hover {
  color: var(--lighter-grey);
}

a:active {
  background-color: black;
}

.wy-side-nav-search {
  display: block;
  width: 300px;
  padding: 0.809em;
  margin-bottom: 0.809em;
  z-index: 200;
  background-color: var(--main-blue);
  text-align: center;
  color: #fcfcfc;
}

.wy-side-nav-search input[type="text"] {
  width: 100%;
  padding: 6px 12px;
  border-color: #2472a4;
  border-radius: 0;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: var(--main-orange);
}

/** Content **/
.wy-nav-content {
  max-width: 70% !important;
  background-color: var(--lighter-grey);
}

@media screen and (min-width: 1100px) {
  .wy-nav-content-wrap {
    background: white;
  }
}

/* The summary tree styling */
.rst-content .toctree-wrapper  ul  li{
    list-style: none;
    font-weight: bolder;
}

.rst-content .toctree-wrapper  ul  li li{
    list-style: square;
    font-weight: normal;
    margin-bottom: 0;
}

.rst-content .toctree-wrapper ul li a {
    color:var(--main-blue);
}
.rst-content .toctree-wrapper ul li a:visited {
    color:var(--main-blue);
}
.rst-content .toctree-wrapper ul li a:hover {
    color:var(--darkest-grey);
}


/** footer nav buttons */
.btn-neutral {
    background-color: var(--main-blue)!important;
    color: var(--lighter-grey)!important;
    border-radius: 5px;
}

.btn-neutral:visited {
    color: var(--lighter-grey)!important;
}

.fa-arrow-circle-right:before, .fa-arrow-circle-left:before
{
  content: "";
  color: var(--prevision-tertiary);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}